{% extends "index.html" %}
{% block nav %}
  <li><a href="/">Home</a></li>
  <li class="active"><a href="/add">Add</a></li>
{% endblock %}
{% block content %}
  <h2>Add</h2>
            <form role="form" method="POST" action="/add">
              <div class="form-group">
                <label for="url">URL</label>
                <input type="url" class="form-control" id="url" name="url" placeholder="Enter URL"/>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" placeholder="description"></textarea>
              </div>
              <div class="form-group">
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
{% endblock %}
